.stats {
  display: grid;

  margin-bottom: 6rem;
  padding: 1rem 2rem;

  &__title {
    background-color: var(--color-red);

    text-align: center;
  }

  &__top20,
  &__top30 {
    display: grid;

    &--heading {
      grid-column: 1 / -1;
      grid-row: 1 / 2;

      background-color: var(--color-black);
      border-bottom: solid var(--color-yellow) 1rem;

      text-align: center;
    }

    &--names {
      grid-column: 1 / -1;
      grid-row: 2 / 3;

      display: grid;
      grid-template-columns: repeat(3, 1fr);

      padding: 2rem 5rem;

      &-rank {
        padding-right: 5rem;

        text-align: end;
      }

      &-name {
        text-align: center;
      }

      &-ordered {
        padding-left: 5rem;

        text-align: start;
      }
    }

    &--items {
      grid-column: 1 / -1;

      display: grid;
      grid-template-columns: repeat(3, 1fr);

      padding: 0rem 5rem;

      &-rank {
        padding-right: 5rem;

        border-bottom: solid var(--color-yellow) 0.1rem;

        text-align: end;
      }

      &-name {
        border-bottom: solid var(--color-yellow) 0.1rem;

        text-align: center;
      }

      &-ordered {
        padding-left: 5rem;

        border-bottom: solid var(--color-yellow) 0.1rem;

        text-align: start;
      }
    }
  }

  &__heading {
    margin-top: 2rem;

    background-color: var(--color-black);
    border-bottom: solid var(--color-yellow) 1rem;

    text-align: center;
  }

  &__names {
    display: grid;
    grid-template-columns: 1fr 1.1fr;

    padding: 2rem 5rem;

    &-number {
      text-align: end;
    }

    &-name {
      padding-left: 5rem;
    }
  }

  &__all-ordered-toppings {
    display: grid;

    height: 50vh;

    overflow: auto;

    &--items {
      display: grid;
      grid-template-columns: 1fr 1.1fr;

      padding: 0rem 5rem;

      &-number {
        text-align: end;

        border-bottom: solid var(--color-yellow) 0.1rem;
      }

      &-name {
        padding-left: 5rem;

        border-bottom: solid var(--color-yellow) 0.1rem;
      }
    }
  }

  &__pagination {
    justify-self: center;
    
    button {
      margin: 2rem;
    }
  }
}
