//COLORS
//#E52A33
//#131313
//#EDC359

:root {
  --color-black: #131313;
  --color-red: #e52a33;
  --color-yellow: #edc359;
  --color-white: white;

  --font-text: "Open Sans", sans-serif;
}
